img{
    width: 200px;
    height: 200px;
    animation: spin 5s infinite ;
}

@keyframes spin {
   0%{
    none;
   }

    25%{
        transform: translateX(1000px) rotate(180deg);
    }

    50%{
        transform: translateX(1000px) translateY(700px) rotate(360deg);
    }
    
    75%{
        transform: translateX(10px) translateY(700px) rotate(180deg);
    }

    100%{
        none;
    }

    
}
